* {
  box-sizing: border-box;
  margin: 0.5px;
  background-color: #eceff1;
}

.center-wrapper {
  padding: 2rem 20rem;
  margin: auto 0;
}

.two-column-expand-two {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-auto-flow: column;
}

.two-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: end;

  margin-left: 2.5rem;

  padding: 2rem;
  border-radius: 12px;

  line-height: 1.2rem;
}

.two-column,
p {
  line-height: 1.8rem;
}

body {
  margin: 0;

  color: #0d47a1;
  font-family: "Roboto Condensed", sans-serif;
}

h1 {
  margin: 0 0 2rem 0;

  border: 0;
  padding: 1rem 12rem;

  background-color: #002171;
  color: rgb(234, 244, 253);

  font-size: 4rem;

  text-decoration: underline;

  letter-spacing: 0.5rem;
}

.side-header {
  writing-mode: vertical-lr;
  margin-right: 1rem;
}

blockquote {
  color: white;
}

blockquote::first-line {
  font-style: italic;
}

blockquote::first-letter {
  color: white;
  font-weight: bold;
  font-size: 3rem;
}

.quote {
  padding: 1rem 4rem;
  border: 1px solid rgb(49, 49, 49);
  border-radius: 12px;
  box-shadow: 4px 4px 0 rgb(133, 133, 133);
}

.left-margin {
  margin-left: 3.4rem;
}

.left-margin * > p {
  padding: 2rem 0;
  font-size: 1.4rem;
}

.quote:nth-of-type(1) {
  background-color: #5472d3;
}

/* .quote:nth-child(even) {
  background-color: rgba(134, 223, 250, 0.671);
} */
footer {
  border: 0;
  padding: 2rem 12rem;

  font-size: 1.2rem;

  background-color: #002171;
  color: rgb(0, 36, 68);
}

footer a:link {
  color: rgb(0, 55, 104);
  list-style: none;
}

@media screen and (max-width: 1200px) {
  .two-column {
    width: 100%;
    font-size: 1rem;
  }
}
